<!DOCTYPE html>


<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/styles/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script>
            // var h = window.screen.height;
            // var w = window.screen.width;
            var w = window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;

            var h = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
            alert(`h: ${h} | w: ${w}`)
        </script> -->
    </head>
    <body>
        <div id="content">
            <form class="add-bar" action="{{ url_for('create_note') }}" method="POST">
                <input type="text" name="note_name" placeholder="Create a new note..." autofocus>
                <button type="submit" class="add"><i class="fa fa-plus"></i></button>
            </form>
            
            <div class="notes-list-area">
                {% if files %}
                    <span class="sentence"> {{'Only one note?! Pick this or add some more above... =)' if files|length == 1 else 'Pick a note or add more above' }}</span>
                {% else %}
                    <span class="sentence">Oh no, you don't have any notes. Add your first above!</span>
                {% endif %}
                
                <ul class="notes-list">
                    {% for file in files %}
                    <li>
                        <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                            {{ (request.path + '/' if request.path != '/' else '') + file }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>

<!-- <script src="bundle.js"></script> -->
